# ==========================
# Python / Django
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.sqlite3
db.sqlite3

# ==========================
# Virtual environment
# ==========================
venv/
env/
ENV/

# ==========================
# IDE / Editor files
# ==========================
.vscode/
.idea/
*.swp
*~

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Django / Media / Static
# ==========================
media/
staticfiles/
static/

# ==========================
# Cache files
# ==========================
*.cache
*.tmp
*.log
.DS_Store
